<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Task 8: RoR</title>
  <style>
    body {
      width: 960px;
      margin: 10px auto;
      font-family: Tahoma, Verdana, Segoe, sans-serif;
    }
    h1 {
      font-size: 36px;
      color: rgb(26, 141, 228)
    }
    form {
      padding: 0 10px 10px;
      outline: 3px dashed rgba(132, 209, 114, 0.2)
    }
  </style>
</head>
<body>
  <h1>Лабораторная работа №8: числа-близнецы</h1>
  <form action="get_twins">
    <p>Задайте число n и нажмите &laquo;Найти&raquo;. Программа найдет все простые &laquo;числа-близнецы&raquo; в диапазоне [n, 2n]</p>
    Введите n: <input type="text" name="n" value="10" placeholder="введите n">
    <button type="submit">Найти</button>
  </form>
</body>
</html>
